
    .sidenav {
        width: 200px;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
    }
    /* Style the sidenav links and the dropdown button */
    .sidenav a, .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 18px;
        font-family: "Lucida Console", Monaco, monospace;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width:100%;
        text-align: left;
        cursor: pointer;
        outline: none;
    }
    /* On mouse-over */
    .sidenav a:hover, .dropdown-btn:hover {
        color: #f1f1f1;
    }
    /* Main content */
    .main {
        margin-left: 200px; /* Same as the width of the sidenav */
        font-size: 20px; /* Increased text to enable scrolling */
        font-family: "Lucida Console", Monaco, monospace;
        padding: 0px 10px;
        background-color: #def2f1;
    }
    /* Add an active class to the active dropdown button */
    .active {
        background-color: green;
        color: white;
    }
    /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
        display: none;
        background-color: #262626;
        padding-left: 8px;
    }
    /* Optional: Style the caret down icon */
    .fa-caret-down {
        float: right;
        padding-right: 8px;
    }
    #sidebar {
        min-width: 250px;
        max-width: 250px;
        min-height: 100vh;
    }
    .wrapper {
        display: flex;
        align-items: stretch;
    }
    .h3{
        font-family:"Lucida Console", Monaco, monospace ;
    }
    #sidebar {
        min-width: 250px;
        max-width: 250px;
    }
    #sidebar.active {
        margin-left: -250px;
    }
    #sidebar {
        /* don't forget to add all the previously mentioned styles here too */
        background: #05386b;
        color: #fff;
        transition: all 0.3s;
    }
    #sidebar .sidebar-header {
        padding: 24px;
        background: 1E90FF;
    }
    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }
    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }
    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        font-family: "Lucida Console", Monaco, monospace;
        display: block;
        color: white;
    }
    #sidebar ul li a.disabled {
        padding: 10px;
        font-size: 1.1em;
        font-family: "Lucida Console", Monaco, monospace;
        display: block;
        pointer-events: none;
        cursor: default;
        color: white;
        opacity: 0.5;

    }
    
    #sidebar ul li a:hover {
        color: #7386D5;
        background: #fff;
    }
    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #05386b;
    }
    ul ul a {
        font-size: 0.9em !important;
        font-family: "Lucida Console", Monaco, monospace;
        padding-left: 30px !important;
        background: #05386b;
        color:white;
    }
    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
    }
    .form-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
    }
    .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }
    .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
    }
    .form-container .cancel {
        background-color: red;
    }
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }

    /**** Clases Fix (H13) ****/

    h1, h2{
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-weight: bold;
        font-size: 35px;
    }

    p{
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-style: none;
    }

    .navbar-light .navbar-brand {
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
    }

    .bg-white {
        background-color: #05386b !important;
    }

    .sidenav {
        width: 200px;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
    }

    /** checkpoint **/

    section {
        background: url(https://previews.123rf.com/images/kran77/kran771707/kran77170700034/82556435-resumen-concepto-de-fondo-tecnol%C3%B3gico-con-diversos-elementos-tecnol%C3%B3gicos-ilustraci%C3%B3n-del-vector.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: #000000;
    }

    p {
        font-size: 15px;
        font-weight: 400;
        font-family: Hind, sans-serif;
        color: #a6a7aa;
        line-height: 1.4;
        margin-bottom: 15px;
    }

    img{
        width: 400px; height: 250px;
    }



    .service {
        background: #fff;
        padding: 50px;
    }

    .service .service-element,
    .service .service-info {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }

    .service .service-icon {
        display: block;
        font-size: 30px;
        color: #999caa;
        margin-bottom: 30px;
    }

    .service:hover .service-element {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }

    .service:hover .service-info {
        -webkit-transform: translate3d(0, -30%, 0);
        -moz-transform: translate3d(0, -30%, 0);
        transform: translate3d(0, -30%, 0);
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }

    .service img {
        width: 150px; height: 150px;
    }

    .service img.grande{
        width: 200px; height: 150px;
    }

    .caja {
        padding-left: 60px;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
    }
    #uno1{
        color: #D98880;
    }
    #dos2{
        color: #F1948A;
    }
    #tres3{
        color: #C39BD3;
    }
    #cuatro4{
        color: #BB8FCE;
    }
    #cinco5{
        color: #7FB3D5;
    }
    #seis6{
        color: #76D7C4;
    }





    #titulo img {
        width: 500px; height: 220px;
    }

    .service {
        background: #fff;
        padding: 50px;
    }

    .service .service-element,
    .service .service-info {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }

    .service .service-icon {
        display: block;
        font-size: 30px;
        color: #999caa;
        margin-bottom: 30px;
    }

    .service:hover .service-element {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }

    .service:hover .service-info {
        -webkit-transform: translate3d(0, -30%, 0);
        -moz-transform: translate3d(0, -30%, 0);
        transform: translate3d(0, -30%, 0);
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }


    .container-fluid {
        height: 90%;
        width: 100%;
    }
    .carousel-inner img {
        height: 450px;
    }

    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 300px;
        perspective: 1000px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .flip-card-front {
        background-color: #bbb;
        color: black;
    }

    .flip-card-back {
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg);
    }

